<div class="row m-2 shadow-sm p-3 mb-5 bg-white rounded fixed">
    <div class="col-lg-1">
        <div class="h3"> Logo</div>
    </div>
    <div class="col-lg-5">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Chercher un produit, Une mark ou une categorie">
          </div>
    </div>
    <div class="col-sm-6">
        
                
                <input type="button" class=" btn search" value="Rechercher">
                
                <i class="fa fa-user ml-4" ></i>
                <input type="button" class="btn" value="Se connecter">
                
                <i class="fa fa-question-circle ml-4"></i>
                <input type="button" class="btn" value="Aide">
                
                <i class="fa fa-cart-arrow-down ml-4"></i>
                <input type="button" class="btn" value="Panier">
                    
    </div>
</div>
