<div class="row m-2 shadow-sm p-3 mb-5 bg-white rounded fixed">
    <div class="col-lg-1">
        <div class="h3"> Logo</div>
    </div>
    <div class="col-lg-5">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Chercher un produit, Une mark ou une categorie">
          </div>
    </div>
    <div class="col-sm-6">
        
                
                <button class="btn search">Rechercher</button>
                
                
                <button class="btn  ml-3"><i class="fa fa-user mr-2" ></i>Se connecter</button>
                <button class="btn  ml-3"><i class="fa fa-question-circle mr-2"></i>Aide</button>
                <button class="btn  ml-3"><i class="fa fa-cart-arrow-down mr-2"></i>Panier</button>
                    
    </div>
</div>

      <!-- <button class="btn btn-outline-secondary dropdown-toggle" 
                type="button" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">Se connecter</button>
      <div class="dropdown-menu">
        <input type="button" class="btn search " value="Se connecter">
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Créer un compte </a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">votre Compte</a>
        <a class="dropdown-item" href="#">vos commande</a>
      </div> -->
