.side-m ,.parent{
    overflow: hidden;
    position: relative;
    width: 100%;
}


img{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.percent{
    height: 50%;
    width: 100%;
}