<div class="container-fluid">
    <div class="row px-3" >
        <div class="col-3 side-l ">
            <p><i class="fa fa-home mr-1"></i>Maison & bureau</p>
            <p><i class="fa fa-h-square mr-1"></i>Santé & Beauté</p>
            <p><i class="fas fa-mod mr-1"></i>Mode</p>
            <p><i class="fa fa-tv mr-1"></i>Électroménager, TV & Audio</p>
            <p><i class="fa fa-bicycle mr-1"></i>Articles de sport</p>
            <p><i class="fa fa-mobile mr-1"></i>Téléphonie & Accessoires</p>
            <p><i class="fa fa-child mr-1"></i>Bébé & Puériculture</p>
            <p><i class="fa fa-desktop mr-1"></i>Informatique</p>
            <p><i class="fa fa-gamepad mr-1"></i>Jeux vidéos & Consoles</p>
            <p><i class="fa fa-paperclip mr-1"></i>Autres catégories</p>
        </div>
        <div class="col-6 side-m "> 
            <img src="https://dz.jumia.is/cms/0000_21_CP/W10-MIB/HighTech/SX_BLADI_HIGHTECH.jpg">
        </div>
        <div class="col-3 side-r">
            <button>Go</button>
            <button>Go</button>
            <button>Go</button>
        </div>
    </div>
</div>














